
<tr>
  <td class="px-6 py-4 whitespace-no-wrap">
    <div class="flex items-center">
      <div class="flex-shrink-0 h-10 w-10">
        <%= image_tag "people/person_#{rand(5) + 1}.jpg", class: "h-10 w-10 rounded-full", alt: friendship.email %>
      </div>
      <div class="ml-4">
        <div class="text-sm leading-5 font-medium text-gray-900">
          <%= Faker::Name.name %>
        </div>
        <div class="text-sm leading-5 text-gray-500">
          <%= friendship.email %>
        </div>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
    <%= Faker::Creature::Animal.name.capitalize %>
  </td>
  <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
    <%= link_to 'Unfriend', friend_path(friendship),
                 method: :delete,
                 data: { confirm: 'Are you sure?' }, class: "text-green-700 hover:text-green-900" %>
  </td>
</tr>
