<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="relative bg-gray-800">
      <div class="max-w-3xl mx-auto px-5">
        <div class="flex justify-between items-center py-4">
          <div>
            <a href="/" title='Home is where your cat is'>
              <img class="h-8 w-auto sm:h-10" src=<%= image_url 'logo.svg' %> alt="Quiz Home">
            </a>
          </div>
          <div class="flex items-center justify-end space-x-5">
            <% if current_user %>
              <%= link_to 'Friends', friends_path, class: "whitespace-no-wrap text-base leading-6 font-medium text-gray-300 hover:text-gray-500 focus:outline-none focus:text-gray-500" %>
              <%= link_to 'Profile', edit_user_path(current_user), class: "whitespace-no-wrap text-base leading-6 font-medium text-gray-300 hover:text-gray-500 focus:outline-none focus:text-gray-500" %>
              <span class="inline-flex rounded-md shadow-sm">
                <%= link_to "Logout", session_path("wow"), method: :delete, class: "whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:border-green-900 focus:shadow-outline-green active:bg-green-700 transition ease-in-out duration-150" %>
              </span>
            <% else %>
              <%= link_to "Sign In", new_session_path, class: "whitespace-no-wrap text-base leading-6 font-medium text-gray-300 hover:text-gray-500 focus:outline-none focus:text-gray-500" %>
              <span class="inline-flex rounded-md shadow-sm">
                <%= link_to "Sign Up", new_user_path, class: "whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:border-green-900 focus:shadow-outline-green active:bg-green-700 transition ease-in-out duration-150" %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-3xl mx-auto px-5 pt-5">
      <% if flash[:alert] %>
        <div class="text-center mb-5">
          <div class="p-2 bg-red-700 items-center text-white leading-none rounded-full flex inline-flex" role="alert">
            <span class="flex rounded-full bg-red-500 uppercase px-2 py-1 text-xs font-bold mr-3">Error</span>
            <span class="font-semibold mr-2 text-left flex-auto"><%= alert %></span>
          </div>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="text-center mb-5">
          <div class="p-2 bg-green-800 items-center text-white leading-none rounded-full flex inline-flex" role="alert">
            <span class="flex rounded-full bg-green-500 uppercase px-2 py-1 text-xs font-bold mr-3">Success</span>
            <span class="font-semibold mr-2 text-left flex-auto"><%= flash.notice %></span>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
